#about-container {
    display: flex;
}

#about-me-image {
    display: flex;
    margin-left: auto;
}

#about-me-image img {
    width: 16em;
    border-radius: 10px;
}

#playlists-container {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iframe {
    border-radius: 12px;
    width: 32%;
    height: 152px;
}