#about-container {
    display: flex;
}

#about-me-bio p {
    font-size: 1em;
    color: #696969;
}

#about-me-bio {
    width: 50%;
}

#about-me-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#about-me-image img {
    margin-left: auto;
    width: 20em;
    border-radius: 10px;
}