#footer-container {
    display: flex;
    flex-wrap: wrap;
}

#footer-text {
    flex: 1 0 calc(47% - 2em);
    margin-right: 1em;
}

#footer-icons {
    display: flex;
    padding-top: 1em;
    gap: 1em;
}

#footer-icons img {
    width: 2em;
    transition: all 250ms ease-in-out;
}

#footer-icons img:hover {
    transform: translateY(-5px);
}

#footer-form {
    flex: 1 0 calc(47% - 2em);
    margin-left: 1em;
}

#footer-form .form-control {
    border: 2px solid #a05ea0;
    border-radius: 4px;
    margin-bottom: 1em;
}