/* Poppins Regular */
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Space Mono Regular */
@font-face {
    font-family: "Space Mono";
    src: url("../assets/fonts/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Space Mono Italic */
@font-face {
    font-family: "Space Mono";
    src: url("../assets/fonts/SpaceMono/SpaceMono-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Space Mono Bold Italic*/
@font-face {
    font-family: "Space Mono";
    src: url("../assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

h1, p {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-family: "Space Mono", monospace;
}

.low-highlight {
    position: relative;
    width: fit-content;
    z-index: 1;
}

.low-highlight::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    bottom: 0;
    filter: blur(2px);
    background-color: #d9bed9;
    box-shadow: 0 0 8px #e4d1e4;
    border-radius: 5px;
    z-index: -1;
}

.section-container {
    margin: 5em 15em 5em 15em;
}