/* Poppins Regular */
@font-face {
    font-family: "Poppins", sans-serif;
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Poppins Semi Medium */
@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Space Mono Regular */
@font-face {
    font-family: "Space Mono";
    src: url("../assets/fonts/SpaceMono/SpaceMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Space Mono Bold */
@font-face {
    font-family: "Space Mono";
    src: url("../assets/fonts/SpaceMono/SpaceMono-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Space Mono Italic */
@font-face {
    font-family: "Space Mono";
    src: url("../assets/fonts/SpaceMono/SpaceMono-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Space Mono Bold Italic*/
@font-face {
    font-family: "Space Mono";
    src: url("../assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

h1, p, a {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-family: "Space Mono", monospace;
}

p {
    color: #696969;
}

.section-title {
    font-size: 2em;
    font-weight: bold;
    color: #a05ea0;
    position: relative;
    width: fit-content;
}

.section-title::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    bottom: 0;
    filter: opacity(50%);
    background-color: pink;
    border-radius: 5px;
    z-index: -1;
}

.section-margins {
    margin: 5em 10em;
}

.btn {
    background-color: #ffc0cb;
    font-family: "Poppins", sans-serif;
    color: black;
    border-radius: 4px;
    border: none;
    align-items: center;
    padding: 8px 8px;
    margin-right: 8px;
}