header {
    background-color: #c8a2c8;
    height: 100vh;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1px;
}

header h2 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    width: fit-content;
    z-index: 1;
}

header h2::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    bottom: 0;
    filter: opacity(40%);
    background-color: yellow;
    border-radius: 5px;
    z-index: -1;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 0 10em;
}

#navbar-logo {
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: black;
}

#navbar-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar-links li a {
    font-family: "Space Mono", monospace;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    position: relative;
}

#navbar-links li a::after {
    content: '';
    position: absolute;
    height: 15%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #e6d799;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#navbar-links li a:hover::after {
transform: scaleX(1);
    transform-origin: bottom left;
}

#header-container {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}

#header-icons {
    display: flex;
    padding-top: 1em;
    gap: 1em;
}

#header-icons img {
    width: 2em;
    transition: all 250ms ease-in-out;
}

#header-icons img:hover {
    transform: translateY(-5px);
}

#header-lottie {
    width: 15rem;
    transform: rotateY(180deg);
}
