#projects-section {
    padding: 5em 15em 5em 15em;
}

#projects-section h1 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #a05ea0;
    margin: 0;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-project {
    width: 46%;
    margin: 1em 0 1em 0;
    padding: 2em;
    border: 2px solid #a05ea0;
    border-radius: 5px;
    box-sizing: border-box;
}

.single-project h1 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 0.3em;
}

.single-project h2 {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

.skills-used {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5em;
}

.skills-used p {
    position: relative;
    padding: 0 4px 0 4px;
    margin-bottom: 0.5em;
}

.skills-used p::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #ffc0cb;
    border-radius: 2px;
    z-index: -1;
}

.project-links {
    display: flex;
    width: fit-content;
    margin-bottom: 0.5em;
}

.project-links .btn {
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: #ffc0cb;
    border-radius: 2px;
    border: none;
    align-items: center;
    margin-right: 1rem;
}

.project-links i {
    padding-right: 6px;
}

.project-links a {
    color: #a05ea0;
}

.link-to-site {
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: auto;
}