@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Poppins&family=Space+Mono:ital@0;1&display=swap');

.information h1 {
    color: black;
    letter-spacing: 2px;
}

.information h5 {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.information .btn {
    font-weight: 600;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border-color: rgb(131, 87, 131);
    color: rgb(131, 87, 131);
}

.information i {
    margin-right: 4px;
    font-size: 16px;
}

.information p {
    margin-top: 20px;
}