@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Poppins&family=Space+Mono:ital@0;1&display=swap');

h1, p {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-family: "Space Mono", monospace;
}

.low-highlight {
    position: relative;
    width: fit-content;
    z-index: 1;
}

.low-highlight::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    bottom: 0;
    filter: blur(2px);
    background-color: #d9bed9;
    box-shadow: 0 0 8px #e4d1e4;
    border-radius: 5px;
    z-index: -1;
}