@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Poppins&family=Space+Mono:ital@0;1&display=swap');

h1, p {
    font-family: "Poppins", sans-serif;
}

h2 {
    font-family: "Space Mono", monospace;
}

.low-highlight {
    position: relative;
    width: fit-content;
    z-index: 1;
}

.low-highlight::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    left: 5px;
    bottom: 0;
    filter: blur(2px);
    background: rgb(217, 190, 217);
    z-index: -1;
}