#projects-container {
    display: flex;
    flex-wrap: wrap;
}

#all-projects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
}

#single-project {
    flex: 1 0 calc(47% - 0.5em);
    margin: 1em;
    padding: 2em;
    border: 2px solid #a05ea0;
    border-radius: 4px;
}

#single-project h1 {
    font-size: 2em;
    font-weight: bold;
    color: #a05ea0;
}

#single-project h2 {
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

#skills-used {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 8px;
}

#skills-used li {
    font-family: "Poppins", sans-serif;
    list-style: none;
    position: relative;
    padding: 0 4px;
    margin-right: 8px;
}

#skills-used li::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    bottom: 0;
    filter: opacity(50%);
    background-color: #ffc0cb;
    border-radius: 5px;
    z-index: -1;
}

#project-links {
    display: flex;
    width: fit-content;
    margin-bottom: 8px;
}

#project-links i {
    padding-right: 4px;
}

#link-to-site {
    color: #a05ea0;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: auto;
}

#single-project p {
    margin-bottom: 8px;
}